/*Header*/
.Bann-containner{
    display: flex;
    justify-content: flex-start;
    list-style-type : none;
}
.Bann-Item{
    padding: 5px;
    font-weight: bold;
    margin-right: 500px;
    font-size: 1em;
}
.MainBann {
    display: flex;
    justify-content: center;
}
/*Contenu et articles*/
.BodyContain{
    display: flex;
    flex-direction: row;
    list-style-type : none;
    justify-content: space-evenly;
}
.RightC {
    background-color: rgb(110, 110, 110);
    width: 750px;
}
/* Liens et menus */
a {
    color: rgb(255, 255, 255);
}

.NavMenu {
	display: flex;
    background-color: black;
    justify-content: space-evenly;
}