/* Init Responsive */
html {
    font-size: 100%;
}

img {
     max-width: 100%;
     height: auto;
}   

.Bann-containner{
    display: flex;
    justify-content: space-between;
    list-style-type : none;
}

.Bann-Item{
    display: block;
    margin-right: 10rem;
    max-width: 30rem;
}

.Promo-containner {
    display: flex;
    justify-content: center; 
    max-width: 100%;
    max-height: auto;
}

.MainBann {
    justify-content: center; 
}

.BodyContain{
    display: flex;
    flex-direction: row;
    list-style-type : none;
    justify-content: center;
}
.RightC {
    display: flex;
    background-color: rgb(115,115,115);
    padding-left: 20px;
    position: relative;
    margin: 16px 1px;
    width: 20%;    
    border:1px transparent;
    justify-content: center;
}
a {
    color: rgb(255, 255, 255);
    background-color: black;
}
ul {
    display: flex;
    list-style-type : none;
}
.NavMenu {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    list-style-type : none;
}

#tableau_contain {
    overflow-x: auto;
}

.image_produit {
    width: 100px;
}
/*Affichage mobile*/
@media screen and (max-width: 768px) { 
    html {
        font-size: 0.65rem;
    } 
    .NavMenu {
        display: block;
        background-color: black;
        list-style-type : none;
    }
    .RightC 
    {
        display: none;
    }
}